#Configuration info
[Project Info]
    Project      = 23851

[OemCamSupportType]
    EnableOfflineFeatureList   = 0x8001; 0x8009; 0x8030; 0x8011; 0x8019; 0x80AC; 0x80B2; 0x80A6;
    IsTurboRawFeatureTypeList  = 48; 49; 50; 51; 65; 66;
    IsPslBracketModeList       = 28; 29; 7;

[OemCamSettings]
    addRDIBufferCnt     = 2;
    resetDNGBlackLevel  = FALSE;
    supportSnapshotUsePartial    = TRUE;
    isNeedVignetteSkipFrame = TRUE;
    VignetteSkipFrameNum = 5;
    enableProfessionalExpSmooth  = TRUE;
    isSkipSignalStreamFlush = TRUE;
    isLivephotoSkipRT = TRUE;

[OemSupportedCustomInfoSizes5]
    # Operation_mode should use lowercase letters
    # [mode]_[id]_[fmt]_[usg],[w]X[h],[mode]_[id]_[fmt]_[usg]_[ratio],[w]X[h]: [mode],[id]_[fmt]_[usg],[w]X[h]
    ImageSizes[0]  = 8011,2_35_3,4096X3072,2_32_3,4096X3072,2_37_3,4096X3072,3_35_3,2624X1968,3_32_3,2624X1968,3_37_3,2624X1968:
    ImageSizes[1]  = 8030,2_35_3,4096X3072,2_32_3,4096X3072X4096X3072,2_37_3,4096X3072X4096X3072,3_35_3,1632X1224,3_32_3,1632X1224,3_37_3,1632X1224:

[OemSupportedCustomInfoSizes0]
    # Operation_mode should use lowercase letters
    # [mode]_[id]_[fmt]_[usg],[w]X[h],[mode]_[id]_[fmt]_[usg]_[ratio],[w]X[h]: [mode],[id]_[fmt]_[usg],[w]X[h]
    ImageSizes[0]  = 8001,-1_32_3_0,4096X3072,-1_32_3_1,4096X2304X4096X3072,-1_32_3_2,3072X3072X4096X3072,-1_32_3_5,4096X1864X4096X3072,-1_35_3_0,4096X3072,-1_35_3_1,4096X2304,-1_35_3_2,3072X3072,-1_35_3_5,4096X1864:
    ImageSizes[1]  = 8019,-1_32_3_0,4096X3072,-1_32_3_1,4096X2304X4096X3072,-1_32_3_2,3072X3072X4096X3072,-1_32_3_5,4096X1864X4096X3072,-1_35_3_0,4096X3072,-1_35_3_1,4096X2304,-1_35_3_2,3072X3072,-1_35_3_5,4096X1864:
    ImageSizes[2]  = 8011,2_35_3,4096X3072,2_32_3,4096X3072,2_37_3,4096X3072,3_35_3,2624X1968,3_32_3,2624X1968,3_37_3,2624X1968:
    ImageSizes[3]  = 8030,2_35_3,4096X3072,2_32_3,4096X3072,2_37_3,4096X3072,3_35_3,1632X1224,3_32_3,1632X1224,3_37_3,1632X1224

[OemCamOfflineCapacity]
    AiCameraMode = 0x0

[OemSHDRTypeMatching]
   #SHDRMode        logicalCameraId captureMode  physicalCameraId_mask seamless_support
    Mode[0]     =          2;         0x8001;         0x0004;                1
    Mode[1]     =          5;         0x8011;         0x0004;                1
    Mode[2]     =          2;         0x8019;         0x0004;                1

[OemEnableIZoomModeList]
    #               captureMode   sensor_mask
    Mode[0]     =      0x8001;       0x0004;
    Mode[1]     =      0x8009;       0x0004;
    Mode[2]     =      0x8019;       0x0004;
    Mode[3]     =      0x8030;       0x0020;

[OemSupportedCustomRAWFullSizes]
    #               sensor_mask      width        height
    Size[0]    =    0x0004;          8192;        6144   #imx890 main
    Size[1]    =    0x0008;          3264;        2448   #imx355 wide
    Size[2]    =    0x0010;          1600;        1200   #ov02b macro
    Size[3]    =    0x0002;          4608;        3456   #imx480 front

[OemCustomYUVSize]
    teleWidth  = 1600
    teleHeight = 1200

[OemCamSensorSettingMap]
## this is for config sensor setting mode of system camera PHOTO modes
## please follow below format to add customize parameters
#    #operation mode  operation_mode        frameworkid_mask   feature_mask        index    #  feature mode   --  sensor    -- capability
    Mode[0]    =        0x8001;             0x0002;            0x0000;             1        #  front photo    --    f       -- binning
    Mode[1]    =        0x8001;             0x0002;            0x0010;             0        #  front photo    --    f       -- qcfa
    Mode[2]    =        0x8001;             0x0004;            0x0000;             1        #  rear common     -- w    -- Binning
    Mode[3]    =        0x8001;             0x0004;            0x0010;             0        #  rear HiRes     --  w    -- qcfa
    Mode[4]    =        0x8001;             0x0004;            0x0020;             25       #  rear common     -- w    -- IZOOM
    Mode[5]    =        0x8001;             0x0004;            0x4000;             4        #  rear common     -- w    -- IZOOM 2dol
    Mode[6]    =        0x8001;             0x0004;            0x0021;             26       #  rear common     -- w    -- IZOOM QBC
    Mode[7]    =        0x8001;             0x0006;            0x0200;             3        #  rear common     -- w    -- lbmf 1dol
    Mode[8]    =        0x8001;             0x0006;            0x0800;             2        #  rear common     -- w    -- lbmf 2dol
    Mode[9]    =        0x8001;             0x0008;            0x0000;             0        #  rear common     -- uw    -- binning
    Mode[10]   =        0x8009;             0x0004;            0x0020;             25       #  pro mode izoom --  w     -- izoom
    Mode[11]   =        0x8009;             0x0004;            0x0000;             1        #  pro mode       --  w     -- binning
    Mode[12]   =        0x8009;             0x0008;            0x0000;             0        #  pro mode       --  uw     -- binning
    Mode[13]   =        0x8019;             0x0002;            0x0000;             1        #  night mode     --    front       -- binning
    Mode[14]   =        0x8019;             0x0004;            0x0200;             3        #  night mode     -- w        --lbmf 1dol
    Mode[15]   =        0x8019;             0x0004;            0x0800;             2        #  night mode     -- w        --lbmf 2dol
    Mode[16]   =        0x8019;             0x0004;            0x0000;             1        #  night mode     --    rear w       -- binnig
    Mode[17]   =        0x8019;             0x0004;            0x0020;             25       #  night mode     --    rear w       -- IZOOM
    Mode[18]   =        0x8019;             0x0008;            0x0000;             0        #  night mode     --    rear uw       -- binning
    Mode[19]   =        0x8019;             0x0004;            0x4000;             4        #  rear common     -- w    -- IZOOM 2dol
    Mode[20]   =        0x80B2;             0xFFFF;            0x0000;             1        #  AI ID Photo    --  w/f       -- binning
    Mode[21]   =        0x8030;             0x0004;            0x0200;             8        #  PORTRAIT 2x REAR  -- binning
    Mode[22]   =        0x8030;             0x0008;            0x0004;             6        #  PORTRAIT 2x REAR_AUX -- binning
    Mode[23]   =        0x8030;             0x0004;            0x0080;             29       #  PORTRAIT 2x REAR  -- IZOOM QBC
    Mode[24]   =        0x8011;             0x0008;            0x0004;             7        #  PORTRAIT 1x REAR_AUX -- binning
    Mode[25]   =        0x8011;             0x0004;            0x0004;             8        #  PORTRAIT 1x REAR   -- Binning
    Mode[26]   =        0x8011;             0x0004;            0x0200;             31       #  PORTRAIT 1x REAR   -- lbmf 1dol
    Mode[27]   =        0x8011;             0x0004;            0x0800;             7        #  PORTRAIT 1x REAR   -- lbmf 2dol

[OemBindCore]
    isSupport = TRUE
    configBindCoreStart = 2
    configBindCoreEnd   = 7

[OemDoBoostPool]
    isEnable = TRUE

[PinFiles]
    so[0]=/vendor/lib64/hw/camera.qcom.so
    so[1]=/vendor/lib64/hw/com.qti.chi.override.so
    so[2]=/vendor/lib64/hw/android.hardware.graphics.mapper@4.0-impl-qti-display.so
    so[3]=/vendor/lib64/libthermalclient.so
    so[4]=/vendor/lib64/com.qti.feature2.gs.sm8650.so
    so[5]=/vendor/lib64/com.qti.feature2.anchorsync.so
    so[6]=/vendor/lib64/com.qti.feature2.demux.so
    so[7]=/vendor/lib64/com.qti.feature2.derivedoffline.so
    so[8]=/vendor/lib64/com.qti.feature2.fusion.so
    so[9]=/vendor/lib64/com.qti.feature2.generic.so
    so[10]=/vendor/lib64/com.qti.feature2.hdr.so
    so[11]=/vendor/lib64/com.qti.feature2.mcreprocrt.so
    so[12]=/vendor/lib64/com.qti.feature2.memcpy.so
    so[13]=/vendor/lib64/com.qti.feature2.mfsr.so
    so[14]=/vendor/lib64/com.qti.feature2.ml.so
    so[15]=/vendor/lib64/com.qti.feature2.mux.so
    so[16]=/vendor/lib64/com.qti.feature2.qcfa.so
    so[17]=/vendor/lib64/com.qti.feature2.rawhdr.so
    so[18]=/vendor/lib64/com.qti.feature2.realtimeserializer.so
    so[19]=/vendor/lib64/com.qti.feature2.rt.so
    so[20]=/vendor/lib64/com.qti.feature2.rtmcx.so
    so[21]=/vendor/lib64/com.qti.feature2.serializer.so
    so[22]=/vendor/lib64/com.qti.feature2.statsregeneration.so
    so[23]=/vendor/lib64/com.qti.feature2.stub.so
    so[24]=/vendor/lib64/com.qti.feature2.swmf.so
    so[25]=/vendor/lib64/egl/eglSubDriverAndroid.so
    so[26]=/odm/lib64/libextensionlayer.so
    so[27]=/odm/lib64/libCS.so
    so[28]=/vendor/lib64/libchifeature2.so
    so[29]=/odm/lib64/libmvgcommon.so
    so[30]=/vendor/lib64/libCB.so
    so[31]=/odm/lib64/camera/components/com.oplus.node.sstabphoto.so
    so[32]=/odm/lib64/hw/camera.oemlayer.so
#    so[33]=/odm/lib64/camera/components/com.oplus.node.mvgsat.so
    so[33]=/vendor/lib64/vendor.oplus.hardware.camera.aon-service-impl.so
    so[34]=/vendor/lib64/camx.device-impl.so
    so[35]=/vendor/lib64/libqshcamera.so
    so[36]=/vendor/lib64/hw/camera.qcom.sm8650.so
    so[37]=/vendor/lib64/camera/components/com.qti.node.gpu.so
    so[38]=/vendor/lib64/libcom.qti.chinodeutils.so
    so[39]=/odm/lib64/camera/components/com.oplus.node.preview.so
    so[40]=/vendor/lib64/camera/components/com.qti.hwcfg.ipe.so
    so[41]=/odm/lib64/libfovctrl.so
    so[42]=/odm/lib64/lib2DSlender.so
    so[43]=/odm/lib64/libFaceBeautyJni.so

[Preloadso]
    so[0]=/vendor/lib64/libllvm-qcom.so
    so[1]=/odm/lib64/libvega_face.so
    so[2]=/vendor/lib64/com.qualcomm.mcx.policy.mfl.so
    so[3]= /vendor/lib64/com.qualcomm.mcx.nonlinearmapper.so
    so[4]= /vendor/lib64/com.qualcomm.mcx.linearmapper.so
    so[5]=/vendor/lib64/libiccprofile.so
    so[6]=/vendor/lib64/camera/components/com.qti.eisv3.so
    so[7]=/vendor/lib64/libOpenCL_adreno.so
    so[8]=/vendor/lib64/libOpenCL.so
    so[9]=/vendor/lib64/libsfeShiftExtrapolation.so
    so[10]=/odm/lib64/libaecCustomParamParser.so
    so[11]=/odm/lib64/libafCustomParamParser.so
    so[12]=/odm/lib64/libpdCustomParamParser.so
    so[13]=/odm/lib64/libocce3a.so
    so[14]=/vendor/lib64/libcamxtintlessalgo.so
    so[15]=/odm/lib64/libaisal.so
    so[16]=/odm/lib64/libarcsoft_videoautozoom.so
    so[17]=/odm/lib64/libssd_det.so

[CTPLevel]
                       #operation_mode     #width      #height       #level
    Mode[0]    =       0x8021;              0;           0;             0
    Mode[1]    =       0x8028;              0;           0;             0

[OemEnableTouchCapture]
                         #operation_mode      featuretype
    Mode[0]     =          0x8001;                48; 50; 65;
    Mode[1]     =          0x8030;                65;
    Mode[2]     =          0x8011;                48; 50; 65;
    Mode[3]     =          0x8010;                48; 50; 65;

[ReportErrPreviewForSnapshot]
    PreviewRange = 0.6; 6.0

[OemIsNeedRetryZSLPSL]
     waitFirstFramePickFrame = TRUE;
                        #operation_mode      cameraid
     Mode[0]    =          0x8001;               1;
     Mode[1]    =          0x8001;               2;
     Mode[2]    =          0x8001;               3;
     Mode[3]    =          0x8011;               5;
     Mode[4]    =          0x8010;               5;

#[FPSController]
#                       #operation_mode     #CaptureWaitTime      #PiplineDelay       #TarGetFPS
#    Mode[0]    =       0x8001;              800;                  200;                  15
#    Mode[1]    =       0x8011;              800;                  300;                  15
#    Mode[2]    =       0x8030;              800;                  300;                  15
#    Mode[3]    =       0x8010;              800;                  300;                  15

[PreOpenCamera]
    isSupportPreOpenCamera = TRUE
    IsEnableConfigorms = TRUE
    IsEnablePreloadRes = TRUE

[PreConfig]
    MaxStreamNum = 12
    MaxStreamBufferNum = 12
    MetaSize = 2000
    SystemCamera    = com.oplus.camera

[PreConfigSupportMode]
    #Mode        captureMode  cameraId
    #Mode[0] =    0x8001;        0;

[OemIzoomPolicy]
    iZoomRange = 2.0;2.9

#frameworkId order as {uw,wide,tele}
[CamIndexToFrameworkIdMap]
    frameworkIds = 3;2;4
